@import 'src/app/app.component.scss';

.subheader {
  @extend .logo--container;
  border-bottom: none;
}

.subheader {
  box-shadow: $item-shadow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.subheader-title {
  font-size: 2rem;
}

.subheader-button {
  display: flex;
  gap: 4px;
  align-items: center;
  line-height: 24px;
  span {
    width: 24px;
    height: 24px;
    background: url('../../../assets/icons/back-arrow.svg') no-repeat center/cover;
  }
}

.back-btn {
  color: $text-color;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 22px;
  text-decoration: none;
}

@media (max-width: 425px) {
  .subheader-title {
    font-size: 1.6rem;
  }

  .subheader-button {
    line-height: 16px;
    padding: 8px;
    font-size: 1.2rem;
  }
}
