@import 'src/app/app.component.scss';

.project-form {
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  max-width: 664px;
}

.project-form__group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

label {
  color: #262626;
  font-size: 1.4rem;
  line-height: 22px;
}

.input-container {
  position: relative;
}

input, select {
  padding: 8px 12px;
  font-size: 1.6rem;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  width: 100%;
}

.error {
  border: 1px solid $dust-red;
}

.error-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url('../../../assets/icons/error.svg') no-repeat center/cover;
}

.input-caption {
  color: #8C8C8C;
  font-size: 1.4rem;
  line-height: 22px;
}

@media (min-width: 425px) {
  .project-form {
    border-radius: 4px;
    margin: 24px 0;
  }
}
