<form class="project-form" [formGroup]="projectForm" (ngSubmit)="onSubmit($event)">
  <div class="project-form__group project__name">
    <label for="title">Project name</label>
    <div class="input-container">
      <input type="text" id="title" name="title" formControlName="title" [ngClass]="{'error': title?.invalid && title?.touched}" required>
      <span *ngIf="title?.invalid && title?.touched" class="error-icon"></span>
    </div>
    <p class="input-caption" *ngIf="title?.invalid && title?.touched">Required field.</p>
  </div>
  <div class="project-form__group project__description">
    <label for="description">Description</label>
    <div class="input-container">
      <input id="description" name="description" formControlName="description" [ngClass]="{'error': description?.invalid && description?.touched}" required>
      <span *ngIf="description?.invalid && description?.touched" class="error-icon"></span>
    </div>
    <p class="input-caption" *ngIf="description?.invalid && description?.touched">Required field.</p>
  </div>
  <div class="project-form__group project__manager">
    <label for="manager">Project manager</label>
    <select id="manager" name="manager" formControlName="manager" [ngClass]="{'error': manager?.invalid && manager?.touched}">
      <option value="" disabled selected>Select a person</option>
      <option value="Walt Cosani">Walt Cosani</option>
    </select>
    <p class="input-caption" *ngIf="manager?.invalid && manager?.touched">Select a project manager.</p>
  </div>
  <div class="project-form__group project__asigned">
    <label for="assigned">Assigned to</label>
    <select id="assigned" name="assigned" formControlName="assigned" [ngClass]="{'error': assigned?.invalid && assigned?.touched}">
      <option value="" disabled selected>Select a person</option>
      <option value="Ignacio Truffa">Ignacio Truffa</option>
    </select>
    <p *ngIf="assigned?.hasError('personNotSelected') && assigned?.touched" class="input-caption"> Select a person to assign.</p>
  </div>
  <div class="project-form__group project__status">
    <label for="status">Status</label>
    <select id="status" name="status" formControlName="status">
      <option value="enabled" selected>Enabled</option>
      <option value="disabled">Disabled</option>
    </select>
  </div>
  <div class="project-form__button--container">
    <button type="submit" class="project-form__button default-btn">{{ createMode ? 'Create project' : 'Save changes' }}</button>
  </div>
</form>
