<form class="project-form" [formGroup]="projectForm" (ngSubmit)="addProject($event)">
  <div class="project-form__group project__name">
    <label for="title">Project name</label>
    <input type="text" id="title" name="title" formControlName="title">
  </div>
  <div class="project-form__group project__description">
    <label for="description">Description</label>
    <input id="description" name="description" formControlName="description">
  </div>
  <div class="project-form__group project__manager">
    <label for="manager">Project manager</label>
    <select id="manager" name="manager" formControlName="manager">
      <option value="Select a person">Select a person</option>
      <option value="Walt Cosani">Walt Cosani</option>
    </select>
  </div>
  <div class="project-form__group project__asigned">
    <label for="asigned">Assigned to</label>
    <select id="asigned" name="asigned" placeholder="Select a person" formControlName="assigned">
      <option value="Select a person">Select a person</option>
      <option value="Ignacio Truffa">Ignacio Truffa</option>
    </select>
  </div>
  <div class="project-form__group project__status">
    <label for="status">Status</label>
    <select id="status" name="status" formControlName="status">
      <option value="enabled">Enabled</option>
      <option value="disabled">Disabled</option>
    </select>
  </div>
  <div class="project-form__button--container">
    <button type="submit" class="project-form__button default-btn">Create project</button>
  </div>
</form>
