@import 'src/app/app.component.scss';
@import 'src/app/components/subheader/subheader.component.scss';

.subheader {
  justify-content: space-between;
}

.subheader-button {
  line-height: 26px;
  span {
    background: none;
    width: 16px;
    text-align: center;
    font-size: 2rem;
    line-height: 24px;
  }
}

.projects-list {
  background-color: white;
  margin-top: 32px;
  max-width: 1344px;
  border-radius: 4px;
  box-shadow: $component-shadow;
}

.projects-list__header {
  @each $property, $value in $project-structure {
    #{$property}: $value;
  }
  background: rgba(0, 0, 0, 0.02);
  box-shadow: $item-shadow;
  padding: 19px 24px;
}

.projects-list__header-title {
  color: $heading-color;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 22px;
}

@media (max-width: 425px) {
  .projects-list {
    margin: 12px 0;
    border-radius: 0;
  }

  .projects-list__header {
    display: none;
  }

  .subheader-button {
    line-height: 16px;
    span {
      height: 16px;
      line-height: 16px;
    }
  }
}
