$dust-red: #F5222D;
$background: #F0F2F5;
$heading-color: #000000D9;
$text-color: #000000A6;
$text-secondary: #00000073;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $background;
}

input, button, textarea, select {
  font: inherit;
}

button {
  cursor: pointer;
}

h1 {
  font-family: 'Inter', sans-serif;
  color: $heading-color;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 32px;
}
